.about {
   margin-block: rem(50px);
   text-align: center;

}

.about__container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: rem(165px);
   border-bottom: 1px solid #000;
   padding-bottom: rem(40px);

   @include notebook {
      gap: rem(50px);
   }

   @include netbook {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
   }
}

.about__logo {
   margin-top: rem(36px);
}