.header {
   min-height: rem(800px);
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
}

.header__image {
   height: 100%;
   background-image: url(../img/header/Rectangle.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: rem(100px);
}

.header__container {
   width: 100%;
   background-color: $color3;
   position: relative;
   padding-bottom: rem(100px);
}

.header__content {
   position: absolute;
   width: 100%;
   height: rem(96px);
   display: grid;
   align-items: center;
   grid-template-columns: 0.8fr auto 0.8fr;
   top: 0;
   left: 0;
   right: 0;
}

li {
   list-style: none;
   position: relative;

   &:hover {
      &::after {
         content: '';
         display: block;
         width: 100%;
         background-color: $color1;
         height: 2px;
         z-index: 10;
         position: absolute;
      }
   }
}

a {
   text-decoration: none;
   text-transform: uppercase;
   color: $color1;
   font-family: $roboto;
   @include font (12, 10);
   line-height: rem(18px);
}

.container {}

.header__menu__left {}

.menu__left__list,
.menu__right__list {
   display: flex;
   gap: rem(60px);
}

.menu__right__list {
   justify-content: end;
}

.haeder__title {
   max-width: rem(600px);
   min-height: rem(423px);
   display: flex;
   flex-direction: column;
   margin: rem(277px) 0 0 rem(60px);

   @include phone {
      margin: rem(150px) auto;
      padding-inline: rem(15px);
   }
}

.title {
   font-family: $liberation;
   @include font (73, 24);
   line-height: rem(96px);
   color: $color1;
   margin-bottom: rem(35px);
}

.text {
   flex: 1 1 auto;
   line-height: rem(32px);
   color: $color1;
   margin-bottom: rem(45px);
}

.header__button {
   border: 1px solid #fff;
   background-color: rgba(255, 255, 255, 0);
   width: rem(180px);
   height: rem(52px);
   text-transform: uppercase;
   transition: all 0.8s;

   @include phone {
      margin-inline: auto;
   }

   &:hover {
      background-color: rgba(255, 255, 255, 0.507);
   }
}

@include tablet {

   .menu__icon,
   .burger__wrapper {
      display: block;
   }

   .header__menu__right,
   .header__menu__left {
      display: none;
   }

   .header__content {
      display: flex;
      justify-content: space-between;
   }
}

@include phone {
   .header {
      display: flex;
      min-height: none !important;
      height: auto;
   }

   .header__image {
      display: none;
   }
}


.menu__left__item {}

.header__logo {}

.header__menu__right {}